---
import Layout from '@layouts/Layout.astro'
import Resume from '@components/Resume.astro'
import ThemeSwitch from '@components/ThemeSwitch.astro'
import Mail from '@components/Mail.astro'
import Weather from '@components/Weather.astro'
import Age from '@components/Age.astro'
import Projects from '@components/Projects.astro'
import Spotify from '@components/Spotify.astro'
import Linkedin from '@components/Linkedin.astro'
import Photo from '@components/Photo.astro'
import Twitter from '@components/Twitter.astro'
import Discord from '@components/Discord.astro'
import Github from '@components/Github.astro'
---

<Layout title="Josseph Morales | Jr Full Stack Developer">
  <main
    class="m-auto max-w-7xl p-4 container grid grid-cols-2 grid-rows-7 gap-3 md:grid-cols-3 md:grid-rows-5 md:gap-4 lg:grid-cols-4 lg:grid-rows-4 lg:gap-5">
    <Resume />
    <Linkedin />
    <ThemeSwitch />
    <Projects />
    <Weather />
    <Age />
    <Spotify />
    <Mail />
    <Photo />
    <Twitter />
    <Discord />
    <Github />
  </main>
</Layout>
