---
import Card from './Card.astro'
---

<Card
  class="md:order-5 lg:order-5 card-sd flex flex-col gap-2 bg-[#812F2F] dark:bg-[#812F2F] text-white"
  direction="center">
  <h5 class="font-extralight text-lg sm:text-xl">lvl</h5>
  <h1 class="font-bold text-5xl sm:text-7xl">22</h1>
</Card>
