---
import Card from './Card.astro'
---

<Card
  class="md:order-5 lg:order-5 card-sd flex flex-col gap-2 bg-[#812F2F] dark:bg-[#812F2F] text-white"
  direction="center">
  <h5 class="font-extralight text-xl">lvl</h5>
  <h1 class="font-bold text-7xl m-0">22</h1>
  <span class="text-sm flex justify-center gap-1">
    <img src="https://flagcdn.com/us.svg" width="30" alt="United States" />
    <img src="https://flagcdn.com/mx.svg" width="30" alt="Mexico" />
  </span>
</Card>
