---
interface Card {
  direction: string
  externalLink?: boolean
  socialIcon?: object
}

const { class: className, direction, externalLink, socialIcon } = Astro.props
---

<div
  class=`${className} relative rounded-3xl p-6 hover:shadow-md hover:transition-shadow shadow-gray-600 dark:shadow-gray-600`>
  {
    socialIcon && (
      <div class="absolute w-6 h-6">
        <img src={socialIcon.src} alt={socialIcon.alt} />
      </div>
    )
  }
  {
    externalLink && (
      <div class="absolute right-6 w-6 h-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          />
        </svg>
      </div>
    )
  }
  <div
    class=`h-full flex flex-col ${direction === 'center' ? 'justify-center text-center' : 'justify-end text-left'}`>
    <slot />
  </div>
</div>
<style>
  .card-md {
    grid-column: span 2 / span 2;
    width: 616px;
    height: 300px;
  }

  .card-md-vertical {
    grid-row: span 2 / span 2;
    width: 300px;
    height: 616px;
  }

  .card-sm {
    width: 300px;
    height: 300px;
  }
</style>
