---
import Card from './Card.astro'
---

<Card
  class="md:order-7 lg:order-6 card-md bg-[url('/assets/images/typing-cat.gif')] bg-no-repeat bg-cover text-white">
  <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">Projects</h1>
  <p class="text-xs sm:text-base">Take a look to my job and what I've done</p>
</Card>
