---
import Card from '@components/Card.astro'
---

<Card
  class="md:order-1 lg:order-1 card-md bg-card-light dark:bg-card-dark text-dark dark:text-white"
  direction="left">
  <h1 class="text-lg sm:text-3xl md:text-4xl font-bold mb-2">
    Hi, I'm <span class="text-gradient">Josseph Morales</span>
  </h1>
  <p class="text-xs sm:text-base max-w-[340px]">
    Junior Full Stack Developer with degree in Computer Systems Engineering and 1+ year experience
    at web development.
  </p>
</Card>
<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
