---
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Josseph Morales | Jr Full Stack Developer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-light dark:bg-dark">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background: #464855;
    margin-block: 0.5rem;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c0e18;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0e18;
  }
</style>
